{% extends "_base.html" %}

{% block TITLE %}
morishitter
{% endblock %}
{% block content %}

<br><br>

<a class="btn" href="tweet.php">Home</a>
<a class="btn" href="mention.php">Mention</a>
<a class="btn" href="fav.php">Favorites</a>
<a class="btn" href="DM.php">DM</a>
<a class="btn" href="profile.php">Profile</a>
<a class="btn" href="list.php">List</a>

<br><br><br><br>

<a class="btn" href="DM.php">In-Box</a>
<a class="btn" href="DM_sent.php">Out-Box</a>

<br><br>

{% for val in DM_sent %}


<IMG SRC="{{val.sender.profile_image_url}}" ALT="icon" WIDTH="50" HEIGHT="50"> <a href="others.php?id={{val.user.screen_name}}">@{{val.user.screen_name}}</a> : D {{val.recipient.screen_name}} {{val.text}}<br>
<br>


{% endfor %}

<br><br><br>

{% endblock %}