{% extends "_base.html" %}

{% block TITLE %}
morishitter
{% endblock %}
{% block content %}

    <div class="container">
      <div class="hero-unit">
        <h1>morishitter
        	<small>最高のふぁぼライフがはじまる。</small>
        </h1>

        <form method="" action="recog.php">
  		{# <input type="hidden" name="id2" value="{{val.id}}"/> #}
  			<div class="form-actions">
    		<button type="submit" class="btn btn-primary btn-large">Register &raquo;</button>
  			</div>
		</form>
		
      </div>

      <div class="row">
        <div class="span6">
          <h2>ふぁぼ</h2>
          <p>お気に入り登録（ふぁぼ）に特化したTwitterクライアント。</p>
          <p>morishitterは、あなたのふぁぼを全力でお手伝いします。</p>
        </div>
        <div class="span6">
          <h2>美しすぎるUI</h2>
          <p>このサイトはbootstrapのサンプルをコピペして作られました。</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html">これ &raquo;</a></p>
        </div>
        <div class="span6">
          <h2>GitHub</h2>
          <p>ソースコード上げてる</p>
          <p><a class="btn" href="http://github.com/ikasama/">これ &raquo;</a></p>
        </div>
        
      </div>

      <hr>

      <footer>
      <p><a href="http://twitter.com/ikasama48/">@ikasama48</a></p>
      </footer>

  

{% endblock %}
