{% extends "_base.html" %}

{% block TITLE %}
morishitter
{% endblock %}
{% block content %}
<br><br>

<a class="btn" href="tweet.php">Home</a>
<a class="btn" href="mention.php">Mention</a>
<a class="btn" href="fav.php">Favorites</a>
<a class="btn" href="DM.php">DM</a>
<a class="btn" href="profile.php">Profile</a>
<a class="btn" href="list.php">List</a>

<br><br><br><br>
<table class="table table-bordered">
  <thead>
    <tr class="success">
      <th>Lists</th>
    </tr>
  </thead>
  <tbody>
    {% for list in lists %}
    <tr>
      <td><a href="http://twitter.com/{{list.uri}}">{{list.uri}}</a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}
