{% extends "_base.html" %}

{% block TITLE %}
morishitter
{% endblock %}
{% block content %}
<br><br><br><br>
<form class="form-horizontal" method="POST" action="tweet.php">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="textarea">Tweet here</label>
      <div class="controls">
        <textarea class="input-xlarge" id="textarea" rows="10" cols="10" name="tweet"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"> Tweet </button>
    </div>
  </fieldset>
</form>

{% endblock %}
